<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>


    <context id="DB2Tables" targetRuntime="MyBatis3">

        <commentGenerator>
            <!-- 不生成注释 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/downloardcenter"
                        userId="root"
                        password="88">
        </jdbcConnection>


        <!-- targetProject:生成PO类的位置 -->
        <javaModelGenerator targetPackage="com.example.demo.model"
                            targetProject="src/main/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false" />
            <!-- 从数据库返回的值被清理前后的空格 -->
            <property name="trimStrings" value="true" />
        </javaModelGenerator>


        <!--        &lt;!&ndash; targetProject:mapper映射文件生成的位置 &ndash;&gt;
                <sqlMapGenerator
                    targetPackage="mapper"
                    targetProject="src/main/resources">
                    &lt;!&ndash; enableSubPackages:是否让schema作为包的后缀 &ndash;&gt;
                    <property name="enableSubPackages" value="false" />
                </sqlMapGenerator>-->


        <javaClientGenerator type="ANNOTATEDMAPPER"
                             targetPackage="com.example.demo.dao"
                             targetProject="src/main/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>


        <table  schema="" tableName="DownloadLog"
                enableCountByExample="false"
                enableUpdateByExample="false"
                enableDeleteByExample="false"
                enableSelectByExample="false"
                selectByExampleQueryId="false" ></table>

    </context>
</generatorConfiguration>