<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>ChangePassword</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
  <script>
    function checkPassword() {
      var password1=$("#oldPassword").value()
      var password2=$("#newPasswordRepeat").value()
      if(password1==password2){
        $('#submit').attr('disable','')
      }
      else{
        $('#submit').attr('disable','disable')
      }
    }
  </script>
</head>
<body>
<div class="topBar">
  <div class="topBar">
    <a href="downloadLog">历史下载</a>
    <a href="/userInfo" id="topBarId" th:text="${session.id}"></a>
    <a href="/logout" id="logout">注销</a>
  </div>
</div>
<div class="title">
  <h1>修改密码</h1>
</div>

<div th:if="${msg}" class="c">
  <h2 th:text="${msg}" style="color: red"></h2>
</div>

<form action="/changePasswordSubmit" method="post" >
  <table >
    <tr>
      <td><label for="id">ID: </label></td><td><input id="id" name="id" type="text" th:value="${session.id}"></td>
    </tr>
    <tr><td><label for="oldPassword">原密码:</label></td><td><input type="password" id="oldPassword" name="oldPassword"></td></tr>
    <tr><td><label for="newPassword">新密码:</label></td><td><input type="password" id="newPassword" name="newPassword"></td></tr>
    <tr><td><label for="newPasswordRepeat">重复新密码:</label></td><td><input type="password" id="newPasswordRepeat"></td></tr>
    <tr><td><input type="submit" value="提交" id="submit"></td></tr>
  </table>
</form>

</body>
</html>