<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>

  <script type="text/javascript" src="/script/manager.js"></script>
</head>
<body>
<div class="topBar">

  <div th:if="${session.id}" class="topBar">
    <a href="downloadLog">历史下载</a>
    <a href="/index">主页</a>
    <a href="/userInfo" id="id" th:text="${session.id}"></a>
    <a href="/logout" id="logout">注销</a>
  </div>


</div>
<div class="title"><h1>管理上架软件</h1></div>

<div id="managerDiv"></div>

<script type="text/javascript">
  getManagerSoftwareList()
</script>

</body>
</html>