<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>

  <script type="text/javascript">
    function showQuestion() {
      $.post('/getSecureQuestion',{
        "inputId": $('#id').val()
      },function (data) {
        data = eval(data)
        if(data.idNotFound=='true'){
          $('#msg').empty()
          $('#msg').html('<h2 style=\'color: red;\'>'+'id错误'+'</h2>')
          return
        }
        $('#msg').empty();
        $('#idOkBtn').empty()
        $('#id').attr("disabled","disabled")
        if(data.question==null){
          $('#msg').empty()
          $('#msg').html('<h2 style=\'color: red;\'>'+'未设置安全问题'+'</h2>')
        }
        else {
          htmlCode='<tr><td>问题: </td><td>'+data.question+'</td></tr>'
          htmlCode+='<tr><td>答案: </td><td><input type="text" id="answer" required></td></tr>'
          htmlCode+='<tr align="right"><td></td><td><button onclick="checkAnswer()">确定</button></td></tr>'
          $('#questionTable').empty()
          $('#questionTable').html(htmlCode)
        }
      },'JSON')
    }
    function updatePassword() {
      $.post('/updatePassword',{
        "id": $('#id').val(),
        "password": $('#password').val()
      },function (msg) {
        console.log("update password: "+msg)
        if(msg==='success'){
          console.log("goto /index")
          $(window).attr('location','/index');
        }
        else{
          $('#msg').empty()
          $('#msg').html('<h2 style=\'color: red;\'>'+msg+'</h2>')
        }
      })
    }
    function checkAnswer() {
      answerInput = $('#answer').val()
      $.post('/getSecureQuestion',{
        "inputId": $('#id').val()
      },function (data) {
        data = eval(data)
        if(answerInput==data.answer){
          $('#msg').empty();
          htmlCode='<tr><td>新密码: </td><td><input type="password" id="password" required></td></tr>'
          htmlCode+='<tr><td>重复密码: </td><td><input type="password" id="passwordRepeat" required></td></tr>'
          htmlCode+='<tr align="right"><td></td><td><button onclick="updatePassword()">确定</button></td></tr>'
          $('#questionTable').empty()
          $('#questionTable').html(htmlCode)
        }
        else{
          $('#msg').empty();
          $('#msg').html("<h2 style='color: red;'>"+"答案错误"+"</h2>");
        }
      },'JSON')
    }
  </script>

</head>
<body>

<div align="right" style="background-color: aquamarine">
  <a href="login">历史下载</a>
  <a href="/index">主页</a>
  <a href="register" id="register">注册</a>
  <a href="login" id="login">登录</a>
</div>
<div class="title"><h1>找回密码</h1></div>


<div id="msg"></div>

<table id="idTable">
  <tr>
    <td>用户名: </td>
    <td>
      <input type="text" id="id">
    </td>
  </tr>
  <tr align="right" id="idOkBtn">
    <td></td>
    <td><button onclick="showQuestion()">确定</button></td>
  </tr>
</table>

<table id="questionTable">

</table>

<script type="text/javascript">
  
</script>

</body>
</html>